

<section id="details">
    <p><img src="<%= item.image_url %>" alt="book image" width="30%"></p>
    <p>Book Title: <%= item.title %></p>
    <p>Book Author: <%= item.author %></p>
    <p>Book ISBN: <%= item.isbn %></p>
    <p>Book Description: <%= item.description %></p>
    <p id="total"<%= item.bookshelf %></p>
    <br>
    <p><a href=" /books/<%= item.id %>" >View Details</a></p>
</section>