<html lang="en">

    <%- include('../../layout/head.ejs') %>

<body>
    
        <%- include('../../layout/header.ejs') %>
    
    <main>
        <ul>
            <% books.forEach(item => { %>
              <p><%= console.log({item}) %></p>
                <%- include('./detail.ejs', {item: item})%>
                <li>   
                    <button class="select">Update This Book</button> 
                    <%- include('./edit.ejs',{item: item}) %>
                </li>        
            <% }) %>
        </ul>
    </main>
    
            <%- include('../../layout/footer.ejs') %>
    
</body>
</html>