<html lang="en">
<head>
    <%- include('../../layout/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../../layout/header.ejs') %>
    </header>
    <form>
        <% books.forEach(item => { %>
          <p><%= console.log({item}) %></p>
          <%- include('./detail.ejs', {item: item})%>
          <% }) %>
    </form>
    <footer>
            <%- include('../layout/footer.ejs') %>
    </footer>
</body>
</html>
