<html lang="en">

    <%- include('../../layout/head.ejs') %>

<body>
    
        <%- include('../../layout/header.ejs') %>
    
    <form>
        <% books.forEach(item => { %>
          <p><%= console.log({item}) %></p>
          <%- include('./detail.ejs', {item: item})%>
          <% }) %>
    </form>
    
            <%- include('../../layout/footer.ejs') %>
    
</body>
</html>
