<!DOCTYPE html>

<html lang="en">
<head>
    <a href="../../../public/styles/base.css" rel="styleshee"></a>
    <%- include('../../layout/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../../layout/header.ejs') %>
    </header>

        
        <% searchresults.forEach(item => { %>
            <p><%= console.log({item}) %></p>
            <%- include('../books/detail.ejs', {item: item})%> 
            <button class=".select">Select this book</button> 
            
          <form  class="hide-me" action="/books" method="POST">
            <input type="hidden" name="Title" value="<%= item.title%>" required>
            <input type="hidden" name="Author" value="<%= item.author %>" required>
            <input type="hidden" name="ISBN" value="<%= item.isbn %>">
            <input type="hidden" name="Desription" value="<%= item.description %>">
            <input type="hidden" name="Image URL" value="<%= item.image_url %>">
            <textarea type="hidden" name="Desription" value="<%= item.description %>" cols="30" rows="5"><%= item.description %></textarea>
            <p>Enter a bookshelf</p>
            <input type="hidden" name="Bookshelf" required>
            <% }) %>
          </form>
        <footer>
            <%- include('../../layout/footer.ejs') %>
        </footer>
    </body>
</html>