<!DOCTYPE html>

<html lang="en">


    <%- include('../../layout/head.ejs') %>

<body>

    <%- include('../../layout/header.ejs') %>


        <main>
            <ul>
        <% searchresults.forEach(item => { %>
            <%- include('../books/detail.ejs', {item: item})%> 

                <li>
                    <button class="select">Select this book</button> 
                    <form  class="hide-me" action="/books" method="POST">
                        <input type="text" name="title" value="<%= item.title%>" required>
                        <input type="text" name="author" value="<%= item.author %>" required>
                        <input type="text" name="isbn" value="<%= item.isbn %>">
                        <input type="text" name="image_url" value="<%= item.image_url %>">
                        <textarea type="text" name="description" value="<%= item.description %>" cols="30" rows="5"><%= item.description %></textarea>
                        <p>Enter a bookshelf</p>
                        <input type="text" name="bookshelf" required>
                        <button type="submit" class=".subToDB">Add to Bookshelf</button>
                    </form>
                </li>
                <% }) %>
            </ul>
        </main>
        <%- include('../../layout/footer.ejs') %>
    </body>
</html>