
<!-- for showing db books -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Results</title>
</head>
<header>
    <%- include('../layout/header.ejs') %>
</header>
<body>
    <p>Total Books in Database: <%= books.length %></p>
        <% books.forEach(item => { %>
          <!-- create a button with an a href 
          include details fom details page and display only title author -->

    <p><img src="<%= item.image_url %>" alt="book image" width="30%"></p>
    <p>Book Title: <%= item.title %></p>
    <p>Book Author: <%= item.author %></p>
    <p><a href=" /book/<%= item.id %>" >View Details</a></p>
    </form>
    <p>Book Description: <%= item.description %></p>
  <% }) %>
  
</body>
</html>