
<!-- for showing db books -->
<html lang="en">

    <%- include('../layout/head.ejs') %>

<body>
    
        <%- include('../layout/header.ejs') %>
        
    <!-- <p id="total">Total Books in Database: <%= books.length %></p> -->
        <% books.forEach(item => { %>
          <p><%= console.log({item: item.author}) %></p>
          <%- include('books/detail', {item: item})%>
    <!-- <p><a href=" /books/<%= item.id %>" >View Details</a></p> -->
     <% }) %>

    <%- include('../layout/footer.ejs') %>

</body>
</html>